RewriteEngine on

RewriteCond %{REQUEST_URI} !^/pages/
RewriteRule ^(.*)$ /pages/$1 [NC,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

