*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Ropa Sans', sans-serif;
}
.bg_{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.up-down-z{
    position: fixed;
    z-index: +500;
    left:2%;
    top: 35%;
}
.up-down-z div{
    border-left: 3px solid white;
    font-size: 16pt;
    color: white;
    padding: 8px;
    margin-bottom: 8px;
}
.up-down-z div:hover{

}
.up-down-z div:hover > .up-down-z div a{
    color: darkred;
}
.up-down-z div a{
    text-decoration: none;
    color: white;
}
.up-down-z div a:hover{
    color: darkred;
    background-color: white;
    transition: 0.2s;
	transition-timing-function: ease-in-out;
}

.section{
    width: 100%;
    height: 100%;
    position: relative;
}

/*
      <div class="section" id="_1">{% include "rover.html" %}</div>

      <div class="section" id="_2">{% include "sponsors.html" %}</div>

      <div class="section" id="_3">{% include "members.html" %}</div>

      <div class="section" id="_4">{% include "faq.html" %}</div>

      <div class="section" id="_5">{% include "what_rover.html" %}</div>

      <div class="section" id="_6">{% include "about.html" %}</div>
 */

@media screen and (max-width: 968px) {
    .up-down-z{
        display: none;
    }
}