.faq-container{
    position: absolute;
    top:10%;
    left:0;
    width:100%;
    height:80%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px;
    overflow: scroll;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    overflow-x: hidden;

}
.faq-container div{
    display: inline-block;
    width: 45%;
    color: white;
}
.question{
    text-align: right;
    padding-right: 18px;
}
.answer{
    text-align: left;
    padding-left: 20px;
    border-left: 2px solid white;
    vertical-align: top;
}