*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Ropa Sans', sans-serif;
}
html{
	height:100%;
}
body{
	height:100%;
	overflow-x: hidden;
}
#bg{
	width: 100%;
	z-index:-2;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
}
.front-bg{
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0.4);
}

.graduated-container{
	position: absolute;
	top: 9%;
	left: 0;
	width: 100%;
	height: 91%;
	text-align: center;
	padding: 0 100px;
	color: white;
}
.header{
	font-size: 24pt;
}
.graduated {
	display: inline-block;
	width: 20%;
	padding: 0 15px 15px 15px;
}
.graduated img{
	width: 150px;
	height: 200px;
	border: 1px solid gray;
}
.graduated p{
	font-size: 16pt;
}

@media screen and (max-width: 968px) {
	.front-bg{
		position: fixed;
	}
	.graduated-container{
		padding: 0 50px;
	}
	.graduated{
		display: block;
		width: 100%;
	}
}