
.adv-lead-container{
    display: flex;
    color: white;
}

.members-container{
    position: absolute;
    top: 9%;
    left: 3%;
    z-index: +1;
    border-bottom: 4px solid black;
	border-top: 4px solid black;
    width: 94%;
    height: 83%;
    background-color: rgba(0,0,0,0.5);
    overflow: scroll;
    overflow-x: hidden;

}
.adv-lead{
    width: 50%;
    text-align: center;
    margin-top: 15px;
}
.members-inner{
    padding: 10px 100px;
    color: white;
    text-align: center;
}
.group{
    padding-top: 25px;
    margin: 0 0 15px 5px;
    width: 24%;
    display: inline-block;
    color: white;
    text-align: center;
}
.group p{
    font-size: 14pt;
    padding: 10px 0;
}

@media screen and (max-width: 968px) {
	.group{
        display: inline-block;
        width: 45%;
        border: none;
    }
    .members-inner{
        padding: 10px 30px;
    }
    .group{
        width: 100%;
    }
}