nav{
    position: absolute;
    z-index: 451;
    height: 8%;
    width: 100%;
    padding: 5px 20px;
}
nav div{
    display: inline-block;
}
nav div a{
    text-decoration: none;
    color: white;
    font-size: 15pt;
}
nav div a:hover{
    background-color: white;
    color: darkred;
    transition: 0.2s ease-in-out;
}
.eng{
    text-decoration: underline;
}
.nav{
    float: right;
    margin: 25px;
    height: 65%;
}
.nav a{
    padding: 10px;
}
.social{
    float: left;
    margin: 25px;
    height: 65%;
}
.social a{
    padding: 10px 20px;
}

.past{
    position: relative;
}
.past:hover .dd-years{
    opacity: 1;
    transition: 0.2s ease-in-out;
}
.dd-years{
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    opacity: 0;
}
.dd-years a{
    width: 100%;
    display: block;
    border-top: 1px solid white;
}
.menu-icon{
    display: none;
    float: right;
    margin: 18px;
}
.line{
    width: 25px;
    height: 5px;
    background-color: white;
    display: block;
    margin-top: 3px;
}
.nav-container{
    float: right;
    width: 92%;
}

@media screen and (max-width: 1628px) {
    .nav-container{
        float: right;
        width: 85%;
    }
    .nav{
        margin: 25px 9px;
    }
    .nav a{
        font-size: 13pt;
        padding: 10px 5px;
    }
    .social{
        margin: 25px 0;
    }
    .social a{
        font-size: 13pt;
        padding:10px 5px;
    }
}


@media screen and (max-width: 968px) {
    nav{
        background-color: rgba(0,0,0,0.9);
        padding: 0;
        height: 60px;
        position: fixed;
    }
    .nav-container{
        width: 100%;
    }
    .menu-icon{
        display: block;
    }
    .nav-container{
        display: none;
    }
    .social{
        display: flex;
        justify-content: space-around;
        margin: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.9);
    }
    .nav{
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .past{
        width: 100%;
    }
    .nav a{
        display: block;
        background-color: rgba(0,0,0,0.9);
        padding-left: 70px;
        text-align: left;
    }
    .past{
        position: static;
    }
    .dd-years{
        opacity: 1;
        margin: 0;
        position: static;
        display: block;
    }
    .dd-years a{
        border: none;
        text-align: left;
        padding-left: 95px;
    }
}