*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Ropa Sans', sans-serif;
}
html{
	height:100%;
}
body{
	height:100%;
	overflow-x: hidden;
}

.bg_{
	width: 100%;
	z-index:-1;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}
.up-down-z{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 98;
	width: 5%;
	height: 100%;
}
.up-down-container{
	width: 100%;
	height: 100%;
	position: relative;
	vertical-align: central;
	padding-left: 10px;
}
.up-down-container .up-down-btn{
	position: absolute;
	left: 25%;
	top: 35%;
}
.up-down-btn div{
	background-image: linear-gradient(to right, rgba(255,255,255,0.3) 40%, rgba(255,0,0,0));
	height: 35px;
	width: 250%;
	margin-bottom: 10px;
	color: white;
	padding: 6px 19px;
	border-left: 3px solid white;
	font-size: 14pt;
	transition: 0.2s;
	transition-timing-function: ease-in-out;
}
.up-down-btn div:hover{
	background-image: linear-gradient(to right, rgba(255,255,255,1) 40%, rgba(255,0,0,0));
	color: darkred;
	border-left: 3px solid darkred;
}