html{
	height: 100%;
}
body{
	height: 100%;
}
#bg{
	width: 100%;
	z-index:-1;
	position: absolute;
	left: 0;
	top: 0;
	height: 120%;
}
.team-name{
    position: absolute;
    top: 15%;
    left: 58%;
    font-size: 38pt;
    color: white;
}
.team-name:hover{
    text-shadow: 0 0 27px black;
}
.rover-prop-container{
	position: absolute;
	left: 22%;
	top: 10%;
	height: 60%;
	width: 20%;
	overflow: hidden;
	box-shadow: 0 0 35px black;
	background-color: rgba(0,0,0,0.4);
}
.rover-prop{
	text-align: center;
	height: 100%;
	color: white;
	width: 100%;
	position: absolute;
	top:15%;
}
.rover-prop div h1{
	font-size: 144pt;
	text-shadow: 2px 2px 15px black;
}

.rover{
	transition-timing-function: ease-in;
	position: absolute;
	width: 550px;
	top: 30%;
}
#rover17{
	left: 55%;
	display: none;
}
#rover18{
	left: 55%;
}
#rover19{
	left: 55%;
	display: none;
}
.rover-prop div{ /*------ #rover17-prop, #rover18-prop, #rover19-prop -------*/
	width: 100%;
	height: inherit;
	padding: 15% 10%;
}
#rover17-prop, #rover19-prop{
	display: none;
}

.btn-container{
	width: 33%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 33%;
	top: 84%;
}
.btn-container img{
	width: 120px;
	height: 100px;
	margin-bottom: 10px;
	opacity: 0.5;
}
.btn-container img:hover{
	opacity: 1.0;
	transition: 0.5s;
}
.btn-container div div{
	text-align: center;
	margin: auto;
	width: 50px;
	border-top: 5px solid white;
	font-size: 16pt;
	color: white;
}


@media screen and (max-width: 1628px) {
	.btn-container {
		width: 50%;
		left: 25%;
	}
	.rover{
		width: 40%;
		top: 27%;
	}
    .rover-prop{
        top:8%;
    }
}

@media screen and (max-height: 750px) {
	.btn-container {
        top: 75%;
    }
    .rover-prop-container{
		top: 17%;
		height: 55%;
	}
    .rover{
		width: 30%;
		top: 25%;
	}
}


@media screen and (max-width: 968px) {
    .team-name{
        text-shadow: 2px 2px 15px black;
        top: 12%;
        left: 0%;
        width: 100%;
        text-align: center;
        font-size: 32pt;
        z-index: +4;
    }
	.rover-prop-container{
		left: 0;
		top: 20%;
		height: 62%;
		width: 100%;
		overflow: hidden;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
	}
	.rover-prop{
		width: 100%;
		height: 100%;
		top: 0;
	}
	.rover-prop div h1{
		margin: 0;
	}
	.rover{
		float: right;
		width: 70%;
		top: 35%;
        height: 40%
	}
	.rover-prop div{ /*------ #rover17-prop, #rover18-prop, #rover19-prop -------*/
		width: 100%;
		height: 100%;
		padding: 5%;
	}
	.rover-prop div h1{
		font-size: 72pt;
		text-shadow: 2px 2px 15px black;
	}
	#rover17{
		left: 15%;
	}
	#rover18{
		left: 15%;
	}
	#rover19{
		left: 15%;
	}

	.btn-container{
		width: 100%;
		left: 0;
		top: 83%;
	}
	.btn-container div{
		display: flex;
	}
	.btn-container img{
		width: 70px;
		height: 70px;
		opacity: 1;
	}
	.btn-container div div{
		font-size: 16pt;
		border-top: none;
		height: 100%;
		margin-left: 9px;
		padding-left: 9px;
		border-left :2px solid white;
	}

}
