{% load itu_rover %}

{% if "/eng" in request.path %}
<div class="container col-xl-8 col-md-12">
    <div class="row">
        <div class="col-xl-5 col-md-12">
            <h1 class="text-center mb-3">Team Advisor</h1>
            <div class="row">
                {% for advisor in advisors %}
                    <div class="col-xl-8 col-md-12 mx-auto">
                        {% include 'pieces/person.html' with person=advisor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xl-7 col-md-12 my-auto d-flex justify-content-center" >
            {% if leader %}
                <div class="col-xl-6 col-md-12 mx-auto">
                    <div class="mx-auto">
                        <h1 class="text-center mb-4">Team Captain</h1>
                        {% include 'pieces/person.html' with person=leader %}
                    </div>
                </div>
            {% endif %}
            {% if techLeader %}
                <div class="col-xl-6 col-md-12 mx-auto">
                    <div class="mx-auto">
                        <h1 class="text-center mb-4">Technical Team Leader</h1>
                        {% include 'pieces/person.html' with person=techLeader %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% for subteam in subteams %}
        <h1 class="text-center">{{ subteam.eng_name }}</h1>
        <hr><br>
        <div class="row justify-content-center">
            {% for member in subteam.members.all %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 {% if 'Lider' in member.role %}order-0{% else %}order-1{% endif %}">
                  {% include 'pieces/person.html' with person=member %}
                </div>
            {% empty %}
            Burası boş! Ah, artık değil.
            {% endfor %}
          </div>
    {% endfor %}

</div>

{% else %}


<div class="container col-xl-8 col-md-12">
    <div class="row">
        <div class="col-xl-5 col-md-12">
            <h1 class="text-center mb-3">Takım Danışmanı</h1>
            <div class="row">
                {% for advisor in advisors %}
                    <div class="col-xl-8 col-md-12 mx-auto">
                        {% include 'pieces/person.html' with person=advisor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xl-7 col-md-12 my-auto justify-content-center d-flex" >
            {% if leader %}
                <div class="col-xl-6 col-md-12 mx-auto">
                    <div class="mx-auto">
                        <h1 class="text-center mb-4">Takım Kaptanı</h1>
                        {% include 'pieces/person.html' with person=leader %}
                    </div>
                </div>
            {% endif %}
            {% if techLeader %}
                <div class="col-xl-6 col-md-12 mx-auto">
                    <div class="mx-auto">
                        <h1 class="text-center mb-4">Teknik Ekip Lideri</h1>
                        {% include 'pieces/person.html' with person=techLeader %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% for subteam in subteams %}
        <h1 class="text-center">{{ subteam.name }}</h1>
        <hr><br>
        <div class="row justify-content-center">
            {% for member in subteam.members.all %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 {% if 'Lider' in member.role %}order-0{% else %}order-1{% endif %}">
                  {% include 'pieces/person.html' with person=member %}
                </div>
            {% empty %}
            Burası boş! Ah, artık değil.
            {% endfor %}
          </div>
    {% endfor %}

</div>

{% endif %}

