
{% load static %}

{% block css %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
{% endblock %}
<!-- the places where rovers are standing -->
<!-- Will be added jquery and css things so in that way we can animate -->
<!-- CSS properties are in custom.css file in static -->

<div class="middle" style="
height: 95vh;
padding: 0px 100px;
/*background-color: #efefef;*/
display: flex;
justify-content: center;
">

<div class="middle-container">
    <div class="exp-container">
        <b><h3>18</h3></b>
        <p>explaination explaination explaination explaination explaination explaination explaination explaination explaination explaination
        explaination explaination explaination explaination explaination explaination explaination explaination explaination explaination
        explaination explaination explaination explaination explaination explaination explaination explaination explaination explaination</p>
        <ul>
            <li>URC 2019</li>
            <li>ARACIMIZ</li>
            <li>DESTEKÇİLERİMİZ</li>
        </ul>
    </div>

    <img style="margin-top: 50px;"
    src="{% static 'img/18_2.png' %}">

</div>

    <!--<div class="all-rovers" style="padding: 100px 25px 0px 25px; width: 80%; display: flex">-->
<!--
            {% for rovers in rovers %}
                <div style="width: 30%; margin: 0px 30px;">
                    <div style="text-align: center">
                        <h2>{{ rovers.year }}</h2>
                        <img src="{{ rovers.image.url }}" alt="" style="height: 300px; align-self: center">
                    </div>
                </div>
            {% endfor %}
    </div>
-->
</div>
