<div class="row">
  <div class="col-12">
    <div class="row justify-content-center {% if person.is_retired %}deactive{% endif %}">
      <div class="col-8 col-md-10 col-lg-7">
        <img class="img-circle img-responsive" style="min-height: 100px;" src="{{ person.get_photo_url }}"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h5 class="font-thick">
          <a{% if person.email %}
            role="button"
            tabindex="0"
            data-toggle="popover"
            data-trigger="focus"
            data-placement="bottom"
            data-html="true"
            data-content="<i class='fa fa-fw fa-envelope' aria-hidden='true'></i> {{ person.email }}">{% endif %}
            <p>{{ person.get_full_name | upper }}</p>
          </a>
        </h5>
        <h6 class="font-thick role-in-team">{{ person.role }}</h6>
        <h6 class="department">{{ person.description }}</h6>
      </div>
    </div>
  </div>
</div>
<br>
