{% load itu_rover %}

<div class="row">
  <div class="col-12">
    <div class="row justify-content-center {% if person.is_retired %}deactive{% endif %}">
      <div class="col-8 col-md-10 col-lg-7">
        <img class="img-circle img-responsive" style="min-height: 100px;" src="{{ person.get_photo_url }}">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h5 class="font-thick">
            <p>{{ person.get_full_name | uppercase }}</p>
        </h5>
        <h6 class="font-thick role-in-team">{{ person.role }}</h6>
        <h6 class="department">{{ person.description }}</h6>
      </div>
    </div>
  </div>
</div>
<br>
