{% if "/eng" in request.path %}
        <div class="carousel slide carousel-fade" id="slides" data-ride="carousel" style="box-shadow: 0 0 45px black">
            <ol class="carousel-indicators">
                {% for slide in slide_images %}
                    {% if slide.place == 0 %}
                        <div data-target="#slides" data-slide-to="{{ slide.place }}" class="active">
                            <h2 class="text-center my-auto noselect">{{ slide.title }}</h2>
                        </div>
                    {% else %}
                        <div data-target="#slides" data-slide-to="{{ slide.place }}" class="">
                            <h2 class="text-center my-auto noselect">{{ slide.title }}</h2>
                        </div>
                    {% endif %}
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for slide in slide_images %}

                    {% if slide.place == 0 %}

                        <div class="carousel-item active h-100" style="background-image: url('{{ slide.bg_image.url }}');">
                            <div class="row">
                                <div class="col-7 h-100 my-auto">
                                    <div class="display-1 ml-xl-5 ml-md-0 pl-4 pt-xl-5 pt-md-0 itu-rover-yazi">
                                            <p class="font-thick">ITU</p>
                                            <p class="font-thick">ROVER</p>
                                            <p class="font-thick">TEAM</p>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-5 h-100">
                                    <div class="d-flex justify-content-center bej-cont">
                                        <div class="text-center mx-auto col-9 mt-5">
                                                <div class="rover-year text-center">{{ slide.title }}</div>
                                                {% if slide.eng_grade %}
                                                    <div class="grade" style="font-size: 30pt">{{ slide.eng_grade }}</div>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="special-background" style="background-image: url('{{ slide.rover_image.url }}');"></div>
                        </div>

                    {% else %}

                        <div class="carousel-item h-100" style="background-image: url('{{ slide.bg_image.url }}');">
                            <div class="row">
                                <div class="col-7 h-100 my-auto">
                                    <div class="display-1 ml-xl-5 ml-md-0 pl-4 pt-xl-5 pt-md-0 itu-rover-yazi">
                                            <p class="font-thick">ITU</p>
                                            <p class="font-thick">ROVER</p>
                                            <p class="font-thick">TEAM</p>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-5 h-100">
                                    <div class="d-flex justify-content-center bej-cont">
                                        <div class="my-auto">
                                                <div class="rover-year text-center">{{ slide.title }}</div>
                                                {% if slide.eng_grade %}
                                                    <div class="grade" style="font-size: 30pt">{{ slide.eng_grade }}</div>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="special-background" style="background-image: url('{{ slide.rover_image.url }}');"></div>
                        </div>

                    {% endif %}

                {% endfor %}
            </div>
        </div>

{% else %}

    <div class="carousel slide carousel-fade" id="slides" data-ride="carousel" style="box-shadow: 0 0 45px black">
            <ol class="carousel-indicators">
                {% for slide in slide_images %}
                    {% if slide.place == 0 %}
                        <div data-target="#slides" data-slide-to="{{ slide.place }}" class="active">
                            <h2 class="text-center my-auto noselect">{{ slide.title }}</h2>
                        </div>
                    {% else %}
                        <div data-target="#slides" data-slide-to="{{ slide.place }}" class="">
                            <h2 class="text-center my-auto noselect">{{ slide.title }}</h2>
                        </div>
                    {% endif %}
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for slide in slide_images %}

                    {% if slide.place == 0 %}

                        <div class="carousel-item active h-100" style="background-image: url('{{ slide.bg_image.url }}');">
                            <div class="row">
                                <div class="col-7 h-100 my-auto">
                                    <div class="display-1 ml-xl-5 ml-md-0 pl-4 pt-xl-5 pt-md-0 itu-rover-yazi">
                                            <p class="font-thick">İTÜ</p>
                                            <p class="font-thick">ROVER</p>
                                            <p class="font-thick">TAKIMI</p>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-5 h-100">
                                    <div class="d-flex justify-content-center bej-cont">
                                        <div class="text-center mx-auto col-9 mt-5">
                                                <div class="rover-year text-center">{{ slide.title }}</div>
                                                {% if slide.grade %}
                                                    <div class="grade" style="font-size: 30pt">{{ slide.grade }}</div>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="special-background" style="background-image: url('{{ slide.rover_image.url }}');"></div>
                        </div>

                    {% else %}

                        <div class="carousel-item h-100" style="background-image: url('{{ slide.bg_image.url }}');">
                            <div class="row">
                                <div class="col-7 h-100 my-auto">
                                    <div class="display-1 ml-xl-5 ml-md-0 pl-4 pt-xl-5 pt-md-0 itu-rover-yazi">
                                            <p class="font-thick">İTÜ</p>
                                            <p class="font-thick">ROVER</p>
                                            <p class="font-thick">TAKIMI</p>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-5 h-100">
                                    <div class="d-flex justify-content-center bej-cont">
                                        <div class="my-auto">
                                                <div class="rover-year text-center">{{ slide.title }}</div>
                                                {% if slide.grade %}
                                                    <div class="grade" style="font-size: 30pt">{{ slide.grade }}</div>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="special-background" style="background-image: url('{{ slide.rover_image.url }}');"></div>
                        </div>

                    {% endif %}

                {% endfor %}
            </div>
        </div>

{% endif %}