{% load itu_rover %}


{% if "/eng" in request.path %}

    <div class="container col-xl-6 col-md-12">
    <h1 class="text-center mb-4 entry-heading">Our Supporters</h1>
    <hr>
    <br>
    {% for sponsor_type in sponsor_types %}
        <h2 class="text-center mb-3 entry-heading" style="font-size: 40pt">{{ sponsor_type.eng_name }}</h2>
        <div class="row justify-content-center align-items-center">
            {% for sponsor in sponsor_type.sponsors.all %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mb-4 text-center">
                    <a href="{{ sponsor.website }}" target="_blank">
                        <img width="{{ sponsor.display_width }}px" src="{{ sponsor.image.url }}">
                        {% if sponsor.is_name_on_display %}
                            <p>{{ sponsor.eng_name }}</p>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
        <hr>
        <br>
    {% endfor %}
</div>

{% else %}

<div class="container col-xl-6 col-md-12">
    <h1 class="text-center mb-4 entry-heading">Destekçilerimiz</h1>
    <hr>
    <br>
    {% for sponsor_type in sponsor_types %}
        <h2 class="text-center mb-3 entry-heading" style="font-size: 40pt">{{ sponsor_type.name }}</h2>
        <div class="row justify-content-center align-items-center">
            {% for sponsor in sponsor_type.sponsors.all %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mb-4 text-center">
                    <a href="{{ sponsor.website }}" target="_blank">
                        <img width="{{ sponsor.display_width }}px" src="{{ sponsor.image.url }}">
                        {% if sponsor.is_name_on_display %}
                            <p>{{ sponsor.name }}</p>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
        <hr>
        <br>
    {% endfor %}
</div>

{% endif %}

