{% extends 'base.html' %}
{% load static %}
{% load markdown_deux_tags %}
{% load itu_rover %}


{% block css %}
    <style>
.bg-container{
    background-image: url('{% static 'img/bg_about.jpeg' %}');
}
    </style>
{% endblock %}

{% block body %}

    {% if "eng/" in request.path %}
    <div class="logo-container">
        <div class=" text-center">
            <a href="/eng"><img class="mt-5 pt-xl-4 pt-md-0 bg-logo noselect" src="{% static 'img/logo_with.png' %}"></a>
       </div>
    </div>
    <div class="bg-container" style="">
        <div class="black-trans"></div>
    </div>

<div class="content-container" style="">
    <div class="container-fluid">
    <!-- HEADER DIV -->
        <div class="container col-xl-6 col-lg-8 col-md-12">
            <div class="py-4 text-center" style="color: #707070">
                <h1 class="display-4">ABOUT US</h1>
            </div>
        </div>
    <!-- ENTRIES -->
        {% for entry in entries %}
    <!-- IMAGE -->
            {% if entry.image %}
                <div class="text-center mb-4">
                    <img src="{{ entry.image.url }}" alt="">
                </div>
            {% endif %}

            <div class="container mb-5 col-xl-6 col-lg-8 col-md-12" style="color: #575757">
                <h1 class="entry-heading">{{ entry.eng_title }}</h1>
                <h4 class="entry-text">{{ entry.eng_detail | markdown }}</h4>
            </div>

        {% endfor %}

    </div>
</div>

    {% else %}


    <div class="logo-container">
        <div class=" text-center">
            <a href="/"><img class="mt-5 pt-xl-4 pt-md-0 bg-logo noselect" src="{% static 'img/logo_with.png' %}"></a>
       </div>
    </div>
    <div class="bg-container" style="">
        <div class="black-trans"></div>
    </div>

<div class="content-container" style="">
    <div class="container-fluid">
    <!-- HEADER DIV -->
        <div class="container col-xl-6 col-lg-8 col-md-12">
            <div class="py-4 text-center" style="color: #707070">
                <h1 class="display-4">HAKKIMIZDA</h1>
            </div>
        </div>
    <!-- ENTRIES -->
        {% for entry in entries %}
    <!-- IMAGE -->
            {% if entry.image %}
                <div class="text-center mb-4">
                    <img src="{{ entry.image.url }}" alt="">
                </div>
            {% endif %}

            <div class="container mb-5 col-xl-6 col-lg-8 col-md-12" style="color: #575757">
                <h1 class="entry-heading">{{ entry.title }}</h1>
                <h4 class="entry-text">{{ entry.detail | markdown }}</h4>
            </div>

        {% endfor %}

    </div>
</div>

    {% endif %}
{% endblock body %}

{% block jquery %}
{% endblock %}


