{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load itu_rover %}

{% block body %}

<style>
 blockquote p {
     font-size: 18px;
 }
</style>


<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="font-thick text-center">İTÜ ROVER TAKIMI HAKKINDA</h4>
      <hr>
      {% for entry in entries %}
      <div class="row justify-content-start">
        <div class="col-md-4">
          <h3 class="font-thick text-right">{{ entry.title | uppercase }}</h3>
        </div>
        <div class="col-md-8 text-big">
          <blockquote>
            {{ entry.detail | markdown }}
          </blockquote>
        </div>
        <hr>
      </div>
      {% empty %}
      <div class="row"><div class="col-12"><p class="text-big text-center">Buraya İTÜ Rover Takımı hakkında henüz bir şey yazılmadı.</p></div></div>
      {% endfor %}

      {% if proposal %}
      <div class="row">
        <div class="col-md-12 text-big text-center">
          <p class="well well-sm">Takım yapısı hakkında daha detaylı bilgiye ulaşmak için <a class="font-primary-color" href="{{ proposal.url }}" target="_blank"><u>Team Proposal</u></a> dosyasını inceleyebilirsiniz.</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock body %}
