{% load static %}<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{% block description %}İTÜ Rover Takımı, İstanbul Teknik Üniversitesi bünyesindeki çeşitli fakültelerden bir araya gelmiş, farklı disiplinlerden öğretilere sahip, daha önceden birçok başarılı projelere imza atmış tecrübeli, meraklı ve çalışkan öğrencilerden oluşmaktadır.{% endblock description %}" name="description" />
    <meta content="#d7d8d9" name="theme-color" />
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" />
     <link href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}İTÜ Rover Takımı{% endblock title %}</title>


    {% block css %}    {% endblock css %}
  </head>

  <body>

    <!--<div id="content">-->
      {% block body %}

      {% endblock body %}
    <!--</div>-->


    {% block javascript %}
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        <script src="https://use.fontawesome.com/a92223afb3.js"></script>
    {% endblock javascript %}

    {% block jquery %}
    {% endblock jquery %}
  </body>
</html>
