{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
.bg-container{
    background-image: url('{% static 'img/bg_members.JPG' %}');
}
    .contact-form p label{
        display: block;
    }
    </style>
{% endblock %}

{% block body %}

{% if "/eng" in request.path %}

    <div class="logo-container">
        <div class=" text-center">
           <a href="/"><img class="mt-5 pt-xl-4 pt-md-0 bg-logo noselect" src="{% static 'img/logo_with_red.png' %}"></a>
       </div>
    </div>
    <div class="bg-container" style="">
        <div class="black-trans"></div>
    </div>
<div class="content-container">
    <div class="container col-xl-6 col-md-12">
        <h1 class="display-4 text-center" style="color: #575757">CONTACT</h1>

        <br>

        <h1 class="text-center"><i class="fa fa-envelope" aria-hidden="true"></i></h1>
        <h2 class="text-center">ituroverteam@gmail.com</h2>

        <br><br><br>

            {% if join_form%}

                <div class="display-4 text-center">Join Us</div>
                <br><br>

                <h5 class="col-xl-12 col-md-12 text-center">
                    <p style="color: black">(The join form is not available right now.)</p>
                    <a href="{{ join_form.form_link }}">{{ join_form.form_link }}</a>
                </h5>
                <br><br><br>

            {% endif %}

    </div>
</div>

{% else %}

    <div class="logo-container">
        <div class=" text-center">
           <a href="/"><img class="mt-5 pt-xl-4 pt-md-0 bg-logo noselect" src="{% static 'img/logo_with_red_tr.png' %}"></a>
       </div>
    </div>
    <div class="bg-container" style="">
        <div class="black-trans"></div>
    </div>
<div class="content-container">
    <div class="container col-xl-7 col-md-12">
        <h1 class="display-4 text-center" style="color: #575757">İLETİŞİM</h1>

        <br>

        <h1 class="text-center"><i class="fa fa-envelope" aria-hidden="true"></i></h1>
        <h2 class="text-center">ituroverteam@gmail.com</h2>

        <br><br><br>

            {% if join_form %}

                <div class="display-4 text-center">Takım Başvuru Formu:</div>
                <br><br>

                <h5 class="col-xl-12 col-md-12 text-center">
                    <p style="color: black">(Şu anda başvurularımız kapalıdır.)</p>
                    <a href="{{ join_form.form_link }}">{{ join_form.form_link }}</a>
                </h5>
                <br><br><br>
            {% endif %}

    </div>
</div>

{% endif %}

{% endblock body %}

