{% extends 'old/../base.html' %}
{% load static %}
{% load markdown_deux_tags %}
{% load itu_rover %}

{% block css %}
{{ block.super }}
{% endblock css %}



{% block body %}

{% if "/eng/" in request.path %}
    <div class="up-down-z">
        <div id="first-btn"><p><b><a href="#_rover">Our Rovers</a></b></p></div>
        <div id="second-btn"><p><b><a href="#_sponsors">Our Sponsors</a></b></p></div>
        <div id="third-btn"><p><b><a href="#_members">Team Members</a></b></p></div>
        <div id="fourth-btn"><p><b><a href="#_faq">Frequently Asking Questions</a></b></p></div>
        <div id="fifth-btn"><p><b><a href="#_what_rover">What is Rover?</a></b></p></div>
        <div id="sixth-btn"><p><b><a href="#_about">About Us</a></b></p></div>
    </div>
{% else %}
    <div class="up-down-z">
        <div id="first-btn"><p><b><a href="#_rover">Roverlarımız</a></b></p></div>
        <div id="second-btn"><p><b><a href="#_sponsors">Sponsorlarımız</a></b></p></div>
        <div id="third-btn"><p><b><a href="#_members">Takım Üyeleri</a></b></p></div>
        <div id="fourth-btn"><p><b><a href="#_faq">Sıkça Sorulan Sorular</a></b></p></div>
        <div id="fifth-btn"><p><b><a href="#_what_rover">Rover Nedir?</a></b></p></div>
        <div id="sixth-btn"><p><b><a href="#_about">Hakkımızda</a></b></p></div>
    </div>
{% endif %}
  <!--------------UP DOWN BUTTON CONTAINER-------------->




    <!------------------CONTENT--------------------->

    <div class="section" id="_rover" style="overflow: hidden;">{% include "rover.html" %}</div>

    <div class="section" id="_sponsors">{% include "sponsors.html" %}</div>

    <div class="section" id="_members">{% include "members.html" %}</div>

    <div class="section" id="_faq">{% include "faq.html" %}</div>

    <div class="section" id="_what_rover">{% include "what_rover.html" %}</div>

    <div class="section" id="_about">{% include "about.html" %}</div>


{% endblock %}