{% extends 'base.html' %}
{% load static %}
{% load markdown_deux_tags %}
{% load itu_rover %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block body %}


    {% include 'pieces/slider.html' %}


    {% if '/eng/' in request.path %}


    <!-- WHO WE ARE -->

    <div class="container col-xl-9 col-md-12 info-section" style="margin-top: 7%;">
        <div class="d-inline-block">
            <div class="col-xl-7 col-md-12 flo-left pt-2">
                <img src="{% static 'img/main_entry.png' %}" alt="">
            </div>
            <div class="col-xl-5 col-md-12 my-auto flo-right">
                <div class="col-xl-11 col-md-12">
                    <h1 class="entry-heading">Who are we?</h1>
                    <p class="entry-text">ITU Rover Team consists of experienced, curious and hardworking students who have come together from various faculties within Istanbul Technical University, have different disciplines, and have successfully completed many successful projects.</p>
                    <p class="entry-text"><a href="{% url 'eng_about' %}">Click for more.</a></p>
                </div>
            </div>
        </div>
    </div>


    <!-- WHAT IS ROVER -->

    <div class="container col-xl-9 col-md-12 info-section">
        <div class="d-inline-block">
            <div class="col-xl-7 col-md-12 flo-right pt-2">
                <img class="ml-xl-5 ml-md-0" src="{% static 'img/main_rovers.png' %}" alt="" style="float: right">
            </div>
            <div class="col-xl-5 col-md-12 my-auto flo-left">
                <div class="col-xl-11 col-md-12 flo-right">
                    <h1 class="entry-heading">What is Rover?</h1>
                    <p class="entry-text">Rovers that help astronaut with the robotic arm, perform well under harsh conditions with the drive system, and can analyze vitality with the science system in space, satellites or planets.</p>
                    <p class="entry-text"><a href="{% url 'eng_rover' %}">Click for more.</a></p>
                </div>
            </div>
        </div>
    </div>


    <!-- TAKE A SURVEY -->

    <div class="container col-xl-9 col-md-12 info-section">
        <div class="d-inline-block">
            <div class="col-xl-7 col-md-12 flo-left pt-2">
                <img src="{% static 'img/main_presentations.png' %}" alt="">
            </div>
            <div class="col-xl-5 col-md-12 my-auto flo-right">
                <div class="col-xl-11 col-md-12">
                    <h1 class="entry-heading">Take a Survey</h1>
                    <p class="entry-text">As ITU Rover Team, we aim to make an unmanned ground vehicle capable of performing various tasks. The most important feature of this unmanned ground vehicle is that it belongs to the space research vehicle class. The duties of our vehicle as a space research vehicle (Rover) are as follows:</p>
                    <p class="entry-text"><a href="{% url 'eng_about' %}">Click for more.</a></p>
                </div>
            </div>
        </div>
    </div>


    <!-- SUCCESSES -->

    <div class="container col-xl-9 col-md-12 info-section">
        <div class="d-inline-block">
            <div class="col-xl-7 col-md-12 flo-right pt-2">
                <img class="ml-xl-5 ml-md-0" src="{% static 'img/main_people.png' %}" alt="">
            </div>
            <div class="col-xl-5 col-md-12 my-auto flo-left">
                <div class="col-xl-11 col-md-12 flo-right mr-md-3">
                    <h1 class="entry-heading">Our Successes</h1>
                    <p class="entry-text">In the adventure we started in URC competitions participating as the first team from Turkey in 2017. In 2018, we won the “Science Special Award”, which was given for the first time in the competition history. In 2020, we were the third among 93 teams.</p>
                    <p class="entry-text"><a href="{% url 'eng_about' %}">Click for more.</a></p>
                </div>
            </div>
        </div>
    </div>



    <!-- SPONSOR US - JOIN US -->

    <div class="jumbotron bg-dark" style="color: #f0f1f2; box-shadow: 0 0 25px black;">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-12 text-center mb-5">
                    <img class="mb-4" src="{% static 'img/navbar/sponsorship_bej.svg' %}" alt="" style="width: 200px">
                    <h1 class="display-4">Support Us</h1>
                    <p>Let's walk together on our journey that we started in 2017.</p>
                    <div class="form-link mt-4">
                        <a href="{% url 'eng_contact' %}">
                            <div>Contact Us</div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 text-center">
                    <div class="container">
                        <img class="mb-4" src="{% static 'img/navbar/team_bej.svg' %}" alt="" style="width: 200px">
                        <h1 class="display-4">Join Us</h1>
                        <p>Join our team, let's shape the future together.</p>
                        <p style="color: #eac4c4">(The join form is not available right now.)</p>
                        <div class="form-link mt-4">
                        <a href="{% url 'eng_contact' %}">
                            <div>Join Form</div>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    {% include 'pieces/sponsors.html' %}

        <br><br>

    {% else %}


    <!-- BİZ KİMİZ -->

    <div class="container col-xl-9 col-md-12 info-section" style="margin-top: 7%;">
        <div class="d-inline-block">
            <div class="col-xl-7 col-md-12 flo-left pt-2">
                <img src="{% static 'img/main_entry.png' %}" alt="">
            </div>
            <div class="col-xl-5 col-md-12 my-auto flo-right">
                <div class="col-xl-11 col-md-12">
                    <h1 class="entry-heading">Biz Kimiz?</h1>
                    <p class="entry-text">İTÜ Rover Takımı, İstanbul Teknik Üniversitesi bünyesindeki çeşitli fakültelerden bir araya gelmiş, farklı disiplinlerden öğretilere sahip, daha önceden birçok başarılı projelere imza atmış tecrübeli, meraklı ve çalışkan öğrencilerden oluşmaktadır.</p>
                    <p class="entry-text"><a href="{% url 'about' %}">Daha fazlası için tıklayınız.</a></p>
                </div>
            </div>
        </div>
    </div>


    <!-- ROVER NEDİR -->

    <div class="container col-xl-9 col-md-12 info-section">
        <div class="d-inline-block">
            <div class="col-xl-7 col-md-12 flo-right pt-2">
                <img class="ml-xl-5 ml-md-0" src="{% static 'img/main_rovers.png' %}" alt="">
            </div>
            <div class="col-xl-5 col-md-12 my-auto flo-left">
                <div class="col-xl-11 col-md-12 flo-right">
                    <h1 class="entry-heading">Rover Nedir?</h1>
                    <p class="entry-text">Uzayda, uydularda veya gezegenlerde üzerinde bulunan robot kol ile astronota yardımcı olan, alt yürür sistemi ile zorlu koşullarda iyi performans sergileyen ve bilim sistemiyle canlılık analizi yapabilen araçlara Rover denir.</p>
                    <p class="entry-text"><a href="{% url 'rover' %}">Daha fazlası için tıklayınız.</a></p>
                </div>
            </div>
        </div>
    </div>


    <!-- GENEL BAKIŞ -->

    <div class="container col-xl-9 col-md-12 info-section">
        <div class="d-inline-block">
            <div class="col-xl-7 col-md-12 flo-left pt-2">
                <img src="{% static 'img/main_presentations.png' %}" alt="">
            </div>
            <div class="col-xl-5 col-md-12 my-auto flo-right">
                <div class="col-xl-11 col-md-12">
                    <h1 class="entry-heading">Genel Bakış</h1>
                    <p class="entry-text">İTÜ Rover Takımı olarak, çeşitli görevleri yapabilme kabiliyetine sahip bir insansız kara aracı yapmayı amaçlamaktayız. Bu insansız kara aracının en önemli özelliği, uzay araştırma aracı sınıfına ait olmasıdır. Uzay araştırma aracı (Rover) olarak aracımızın yapma kapasitesi olan görevleri şu şekildedir:</p>
                    <p class="entry-text"><a href="{% url 'about' %}">Daha fazlası için tıklayınız.</a></p>
                </div>
            </div>
        </div>
    </div>


    <!-- BAŞARILARIMIZ -->

    <div class="container col-xl-9 col-md-12 info-section">
        <div class="d-inline-block">
            <div class="col-xl-7 col-md-12 flo-right pt-2">
                <img class="ml-xl-5 ml-md-0" src="{% static 'img/main_people.png' %}" alt="">
            </div>
            <div class="col-xl-5 col-md-12 my-auto flo-left">
                <div class="col-xl-11 col-md-12 flo-right">
                    <h1 class="entry-heading">Başarılarımız</h1>
                    <p class="entry-text">URC yarışmalarında 2017 yılında Türkiye’den katılan ilk takım olarak başladığımız serüvende 2018 yılında yarışma tarihinde ilk defa verilen “Bilim Özel Ödülü” nü kazandık. 2020 yılında ise 93 takım arasından 3. olduk.</p>
                    <p class="entry-text"><a href="{% url 'about' %}">Daha fazlası için tıklayınız.</a></p>
                </div>
            </div>
        </div>
    </div>



    <!-- SPONSOR US - JOIN US -->

    <div class="jumbotron bg-dark" style="color: #f0f1f2; box-shadow: 0 0 25px black;">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-12 text-center mb-5">
                    <img class="mb-4" src="{% static 'img/navbar/sponsorship_bej.svg' %}" alt="" style="width: 200px">
                    <h1 class="display-4">Bize Destek Olun</h1>
                    <p>2017 yılında başladığımız yolculuğumuzda gelin beraber yürüyelim.</p>
                    <div class="form-link mt-4">
                        <a href="{% url 'contact' %}">
                            <div>Bize Ulaşın</div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 text-center">
                    <div class="container">
                        <img class="mb-4" src="{% static 'img/navbar/team_bej.svg' %}" alt="" style="width: 200px">
                        <h1 class="display-4">Bize Katılın</h1>
                        <p>Ekibimize katılın, geleceği beraber şekillendirelim.</p>
                        <p style="color: #eac4c4">(Şu anda başvurularımız kapalıdır.)</p>
                        <div class="form-link mt-4">
                        <a href="{% url 'contact' %}">
                            <div>Katılım Formu</div>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    {% include 'pieces/sponsors.html' %}

        <br><br>

    {% endif %}

{% endblock body %}


