{% extends 'base.html' %}
{% load static %}
{% load itu_rover %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      {% if page.team_photo %}
      <div class="d-none d-md-block">
        <img style="margin-top: -16px; max-height: 100%;" class="img-responsive" src="{{ page.team_photo.url }}">
        <p style="margin-top: 8px;"><i>İTÜ Rover Takımı</i></p>
      </div>
      {% endif %}
      <div class="row">

        <div class="col-md-7">
          <h4 class="font-thick text-center">TAKIM DANIŞMANLARI</h4>
          <hr>

          <div class="row justify-content-center">
            {% for advisor in advisors %}
            <div class="col-md-5">
              {% include 'pieces/person.html' with person=advisor %}
            </div>
            {% empty %}
            Burası boş! Ah, artık değil.
            {% endfor %}
          </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
          <h4 class="font-thick text-center">TAKIM LİDERİ</h4>
          <hr>
          <div class="row justify-content-center">
            <div class="col-12">
              {% if leader %}
              {% include 'pieces/person.html' with person=leader %}
              {% else %}
              <p>Takımın lideri henüz belli değil!</p>
              {% endif %}
            </div>
          </div>
        </div>

      </div>

      {% for subteam, members in subteams.items %}
      <h4 class="font-thick text-center">{{ subteam.name | uppercase }}</h4>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="row justify-content-center">
            {% for member in members.all %}
            <div class="col-md-3 {% if 'Lider' in member.role %}order-0{% else %}order-1{% endif %}">
              {% include 'pieces/person.html' with person=member %}
            </div>
            {% empty %}
            Burası boş! Ah, artık değil.
            {% endfor %}
          </div>
        </div>
      </div>
      {% empty %}
      Burası boş! Ah, artık değil.
      {% endfor %}

      {% if page.proposal %}
      <hr>
      <div class="row text-big">
        <div class="col-md-12">
          <p class="well well-sm">Takım yapısı hakkında daha detaylı bilgiye ulaşmak için <a class="font-primary-color" href="{{ page.proposal.url }}" target="_blank"><u>Team Proposal</u></a> dosyasını inceleyebilirsiniz.</p>
        </div>
      </div>
      {% endif %}


    </div>
  </div>
</div>
{% endblock body %}
