{% load static %}

{% block css %}
{% endblock %}
<!--  -->
<link rel="stylesheet" href="{% static 'css/members.css' %}">

<div style="width: 100%; height: 100%; position: absolute; left: 0; top: 100%;">
<img src="{% static 'img/bg2.png' %}" id="bg3">

{% if "/eng/" in request.path %}
    <div class="members-container">
        <div class="adv-lead-container">
            <div class="adv-lead">
                <h1>Team Advisor</h1>
                <hr style="border: 1px solid white; margin-bottom: 10px;">
                {% for advisor in advisors %}
                    {% include 'person.html' with person=advisor %}
                {% endfor %}
            </div>

            <div class="adv-lead">
                <h1>Team Leader</h1>
                <hr style="border: 1px solid white; margin-bottom: 10px;">
                {% if leader %}
                    {% include 'person.html' with person=leader %}
                {% endif %}
            </div>
        </div>

        {% for subteam in subteams %}
            <div class="members-inner {% if 'Lider' in member.role %}order-0{% else %}order-1{% endif %}">
                <h1>{{ subteam.eng_name }}</h1>
                <hr style="border: 1px solid white; margin-bottom: 10px;">
                {% for member in subteam.members.all %}
                    {% include 'person.html' with person=member %}
                {% endfor %}

            </div>
        {% endfor %}
    </div>

{% else %}
    <div class="members-container">
        <div class="adv-lead-container">
            <div class="adv-lead">
                <h1>Takım Danışmanı</h1>
                <hr style="border: 1px solid white; margin-bottom: 10px;">
                {% for advisor in advisors %}
                    {% include 'person.html' with person=advisor %}
                {% endfor %}
            </div>

            <div class="adv-lead">
                <h1>Takım Lideri</h1>
                <hr style="border: 1px solid white; margin-bottom: 10px;">
                {% if leader %}
                    {% include 'person.html' with person=leader %}
                {% endif %}
            </div>
        </div>

        {% for subteam in subteams %}
            <div class="members-inner {% if 'Lider' in member.role %}order-0{% else %}order-1{% endif %}">
                <h1>{{ subteam.name }}</h1>
                <hr style="border: 1px solid white; margin-bottom: 10px;">
                {% for member in subteam.members.all %}
                    {% include 'person.html' with person=member %}
                {% endfor %}

            </div>
        {% endfor %}
    </div>

{% endif %}
</div>

{% block body %}

{% block javascript %}
{% endblock %}


{% endblock %}
