{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/navbar_new.css' %}">
{% endblock %}

<nav>


    <a href="/"><img src="{% static "img/itu_rover_white.png" %}" style="height: 60px; float: left;"></a>

    <div class="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div class="nav-container">
        <div class="social">
            <a target="_blank" href="https://www.instagram.com/ituroverteam"><i class="fa fa-fw fa-lg fa-instagram" style="" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.facebook.com/ituroverteam/"><i class="fa fa-fw fa-lg fa-facebook-official" style="" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.twitter.com/ituroverteam"><i class="fa fa-fw fa-lg fa-twitter" style="" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCaCr4pjgkdktAdAC4suykKA"><i class="fa fa-fw fa-lg fa-youtube" aria-hidden="true"></i></a>
            <a target="_blank" href="https://github.com/itu-rover"><i class="fa fa-fw fa-lg fa-github" aria-hidden="true"></i></a>
            <a target="_blank" href="https://tr.linkedin.com/company/itu-rover-team"><i class="fa fa-fw fa-lg fa-linkedin" aria-hidden="true"></i></a>
        </div>
        {% if "/eng" in request.path %}

            {% if "/past/"  in request.path %}
                <div class="nav">
                    <a href="/eng" id="sponsors"><b>SPONSORS</b></a>
                    <a href="/eng" id="members"><b>TEAM MEMBERS</b></a>
                    <a href="/eng" id="faq"><b>FAQ</b></a>
                    <a href="/eng" id="rover"><b>ROVER</b></a>
                    <a href="/eng" id="about"><b>ABOUT US</b></a>
                    <a href="/eng/graduated"><b>OUR GRADUATES</b></a>
                    <div class="past">
                        <a href="#"><b>PAST</b></a>
                        <div class="dd-years">
                            {% for old_year in old_years %}
                                <a href="{% url 'oldyear' year=old_year.year %}"><b>{{ old_year.year }}</b></a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="/"><b class="eng">TR</b></a>
                </div>

            {% elif "/graduated" in request.path %}
                <div class="nav">
                    <a href="/eng"><b>SPONSORS</b></a>
                    <a href="/eng"><b>TEAM MEMBERS</b></a>
                    <a href="/eng"><b>FAQ</b></a>
                    <a href="/eng"><b>ROVER</b></a>
                    <a href="/eng"><b>ABOUT US</b></a>
                    <a href="/eng/graduated"><b>OUR GRADUATES</b></a>
                    <div class="past">
                        <a href="#"><b>PAST</b></a>
                        <div class="dd-years">
                            {% for old_year in old_years %}
                                <a href="{% url 'oldyear' year=old_year.year %}"><b>{{ old_year.year }}</b></a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="/"><b class="eng">TR</b></a>
                </div>
            {% else %}
                <div class="nav">
                    <a href="#" id="sponsors"><b>SPONSORS</b></a>
                    <a href="#" id="members"><b>TEAM MEMBERS</b></a>
                    <a href="#" id="faq"><b>FAQ</b></a>
                    <a href="#" id="rover"><b>ROVER</b></a>
                    <a href="#" id="about"><b>ABOUT US</b></a>
                    <a href="/eng/graduated"><b>OUR GRADUATES</b></a>
                    <div class="past">
                        <a href="#"><b>PAST</b></a>
                        <div class="dd-years">
                            {% for old_year in old_years %}
                                <a href="{% url 'oldyear' year=old_year.year %}"><b>{{ old_year.year }}</b></a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="/"><b class="eng">TR</b></a>
                </div>
            {% endif %}

        {% else %}

            {% if "/gecmis/"  in request.path %}

                <div class="nav">
                    <a href="/" id="sponsors"><b>SPONSORLAR</b></a>
                    <a href="/" id="members"><b>TAKIM ÜYELERİ</b></a>
                    <a href="/" id="faq"><b>SSS</b></a>
                    <a href="/" id="rover"><b>ROVER</b></a>
                    <a href="/" id="about"><b>HAKKIMIZDA</b></a>
                    <a href="/mezunlar"><b>MEZUNLARIMIZ</b></a>
                    <div class="past">
                        <a href="#"><b>GEÇMİŞ</b></a>
                        <div class="dd-years">
                            {% for old_year in old_years %}
                                <a href="{% url 'gecmis' year=old_year.year %}"><b>{{ old_year.year }}</b></a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="/eng"><b class="eng">ENG</b></a>
                </div>

            {% elif "/mezunlar" in request.path %}

                <div class="nav">
                    <a href="/" id="sponsors"><b>SPONSORLAR</b></a>
                    <a href="/" id="members"><b>TAKIM ÜYELERİ</b></a>
                    <a href="/" id="faq"><b>SSS</b></a>
                    <a href="/" id="rover"><b>ROVER</b></a>
                    <a href="/" id="about"><b>HAKKIMIZDA</b></a>
                    <a href="/mezunlar"><b>MEZUNLARIMIZ</b></a>
                    <div class="past">
                        <a href="#"><b>GEÇMİŞ</b></a>
                        <div class="dd-years">
                            {% for old_year in old_years %}
                                <a href="{% url 'gecmis' year=old_year.year %}"><b>{{ old_year.year }}</b></a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="/eng"><b class="eng">ENG</b></a>
                </div>

            {% else %}

                <div class="nav">
                    <a href="#" id="sponsors"><b>SPONSORLAR</b></a>
                    <a href="#" id="members"><b>TAKIM ÜYELERİ</b></a>
                    <a href="#" id="faq"><b>SSS</b></a>
                    <a href="#" id="rover"><b>ROVER</b></a>
                    <a href="#" id="about"><b>HAKKIMIZDA</b></a>
                    <a href="/mezunlar"><b>MEZUNLARIMIZ</b></a>
                    <div class="past">
                        <a href="#"><b>GEÇMİŞ</b></a>
                        <div class="dd-years">
                            {% for old_year in old_years %}
                                <a href="{% url 'gecmis' year=old_year.year %}"><b>{{ old_year.year }}</b></a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="/eng"><b class="eng">ENG</b></a>
                </div>

            {% endif %}

        {% endif %}
    </div>
</nav>


{% block javascript %}
    <script src="{% static 'js/new/navbar_new.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script>
        $(".menu-icon").click(function () {
            $(".nav-container").fadeToggle();
        });
    </script>
{% endblock %}
