{% extends 'base.html' %}
{% load static %}
{% load itu_rover %}

{% block body %}

<h3 class="well well-sm" >ALTINAY ROVER</h3>

<div class="resp-container">
<iframe class="resp-iframe" width="560" height="315" src="https://www.youtube.com/embed/4ufeu9dd9vI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>


<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      {% if page.team_photo %}
      <div class="d-none d-md-block">
        <img style="margin-top: -16px; max-height: 100%;" class="img-responsive" src="{{ page.team_photo.url }}">
        <p style="margin-top: 8px;"><i>İTÜ Rover Takımı</i></p>
      </div>
      {% endif %}

      <h5 class="font-primary-color well well-sm">TAKIM ÜYELERİ</h5>

      <div class="row">

      
        <div class="col-md-7">
          <h4 class="font-thick text-center">TAKIM DANIŞMANLARI</h4>
          <hr>

          <div class="row justify-content-center">
            {% for advisor in advisors %}
            <div class="col-md-5">
              {% include 'pieces/person.html' with person=advisor %}
            </div>
            {% empty %}
            Burası boş! Ah, artık değil.
            {% endfor %}
          </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
          <h4 class="font-thick text-center">TAKIM LİDERİ</h4>
          <hr>
          <div class="row justify-content-center">
            <div class="col-12">
              {% if leader %}
              {% include 'pieces/person.html' with person=leader %}
              {% else %}
              <p>Takımın lideri henüz belli değil!</p>
              {% endif %}
            </div>
          </div>
        </div>

      </div>

      {% for subteam in subteams %}
      <h4 class="font-thick text-center">{{ subteam.name | uppercase }}</h4>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="row justify-content-center">
            {% for member in subteam.members.all %}
            <div class="col-md-3 {% if 'Lider' in member.role %}order-0{% else %}order-1{% endif %}">
              {% include 'pieces/person.html' with person=member %}
            </div>
            {% empty %}
            Burası boş! Ah, artık değil.
            {% endfor %}
          </div>
        </div>
      </div>
      {% empty %}
      Burası boş! Ah, artık değil.
      {% endfor %}

      {% if page.proposal %}
      <hr>
      <div class="row text-big">
        <div class="col-md-12">
          <p class="well well-sm">Takım yapısı hakkında daha detaylı bilgiye ulaşmak için <a class="font-primary-color" href="{{ page.proposal.url }}" target="_blank"><u>Team Proposal</u></a> dosyasını inceleyebilirsiniz.</p>
        </div>
      </div>
      {% endif %}

<!-- sponsorlar -->

<h5  class="font-primary-color well well-sm">SPONSORLAR</h5>


      <h3>PROJE DESTEKÇİSİ</h3>
      <img href="https://www.ssb.gov.tr/" target="_blank" class="bigger-width" src="../static/img/ssm.png" alt="">

      <h3>MARS SPONSOR</h3>
      <img href="http://www.altinay.com/tr/" target="_blank" class="bigger-width" src="../static/img/ALTINAY_1.png" alt="">

      <h3>DÜNYA SPONSORLAR</h3>
      <div class="picture-grid star">
        <a href="http://www.turksavunmasanayi.gov.tr/tr" target="_blank"><div class="grid-box"><img src="../static/img/ssi.png" alt=""></div></a>
        <a href="http://www.tekfen.com.tr/" target=_blank"><div class="grid-box"><img src="../static/img/tekfen.png" alt=""></div></a>
        <a href="http://www.federalmogul.com.tr/index.html" target="_blank" class="federalmogul" ><div class="grid-box"><img src="../static/img/federalmogul.png" alt=""></div></a>
        <a href="" target=_blank"><div class="grid-box"><img src="" alt=""></div></a>
        <a href="http://www.makinetanitimgrubu.com.tr/Tr" target="_blank"><div class="grid-box"><img src="../static/img/trmak.png" alt=""></div></a>
      </div>

      <h3>VENÜS SPONSORLAR</h3>
      <div class="picture-grid star">
        <a href="http://www.orucoglusistem.com.tr" target="_blank"><div class="grid-box"><img src="../static/img/orucoglu.png" alt=""></div></a>
        <a href="https://www.campdavid-soccx.de/" class="kırkpx" target="_blank"><div class="grid-box"><img src="../static/img/campdavid.png" alt=""></div></a>
        <a href="http://www.yildizcnctorna.com/" class="kırkpx" target="_blank"><div class="grid-box"><img src="../static/img/YILDIZ_CNC.png" alt=""></div></a>
        <a href="https://www.fnss.com.tr/" target="_blank"><div class="grid-box"><img src="../static/img/fnss.png" alt=""></div></a>
        <a href="https://www.uskudar.bel.tr/tr" target="_blank"><div class="grid-box"><img src="../static/img/uskudar.png" alt=""></div></a>
        <a href="http://www.savronik.com.tr/tr/anasayfa/" target="_blank"><div class="grid-box"><img src="../static/img/savronik.jpg" alt=""></div></a>
      </div>

      <h3>MERKÜR SPONSORLAR</h3>
      <div class="picture-grid star">
        <a href="https://useinsider.com/" target="_blank"><div class="grid-box"><img src="../static/img/INSIDER.png" alt=""></div></a>
        <a href="http://www.kozikoglu.com/index.html" target="_blank"><div class="grid-box"><img src="../static/img/KOZİKOĞLU.png" alt=""></div></a>
        <a href="https://www.kocel.com.tr/" class="kırkpx" target="_blank"><div class="grid-box"><img src="../static/img/KOÇEL.png" alt=""></div></a>
        <a href="http://www.odakpcb.com/" target="_blank"><div class="grid-box"><img src="../static/img/odak.png" alt=""></div></a>
        <a href="http://www.ikont.com/" class="kırkpx" target="_blank"><div class="grid-box"><img src="../static/img/IKO.png" alt=""></div></a>
        <a href="http://www.solmaz.com/" class="kırkpx" target="_blank"><div class="grid-box"><img src="../static/img/solmaz.jpg" alt=""></div></a>
        <a href="http://www.metyx.com/tr/" target="_blank"><div class="grid-box"><img src="../static/img/meytx.jpg" alt=""></div></a>
        <a href="https://www.turksat.com.tr/tr" class="kırkpx" target="_blank"><div class="grid-box"><img src="../static/img/turksat.png" alt=""></div></a>
        <a href="https://www.oo-kuma.com.tr/" class="kırkpx" target="_blank"><div class="grid-box"><img src="../static/img/ookuma.png" alt=""></div></a>
        <a href="http://isbak.istanbul/en/" target="_blank"><div class="grid-box"><img src="../static/img/isbak.jpg" alt=""></div></a>
        <a href="http://www.iib.org.tr/" target="_blank"><div class="grid-box"><img src="../static/img/iibb.png" alt=""></div></a>
        <a href="http://www.roketsan.com.tr/" class="kırkpx" target="_blank"><div class="grid-box"><img src="../static/img/roketsann.jpg" alt=""></div></a>
      </div>

      <h3>GÜNEŞ SPONSORLAR</h3>
      <div class="picture-grid star">
        <a href="https://www.enka.com/sustainability/tr/enka-vakfi/" target="_blank"><div class="grid-box"><img src="../static/img/enka.png" alt=""></div></a>
        <a href="http://www.sdt.com.tr/" target="_blank"><div class="grid-box"><img src="../static/img/sdt.png" alt=""></div></a>
        <a href="https://www.avl.com/" target="_blank"><div class="grid-box"><img src="../static/img/AVL.png" alt=""></div></a>
        <a href="http://anova.com.tr/en/home-page/" class="kırkpx" target="_blank"><div class="grid-box"><img src="../static/img/anova.png" alt=""></div></a>
        <a href="http://www.habasit.com/en/index.htm" target="_blank"><div class="grid-box"><img src="../static/img/HABASİT.png" alt=""></div></a>
        <a href="https://www.bosch-home.com.tr/" target="_blank"><div class="grid-box"><img src="../static/img/bosch.png" alt=""></div></a>
        <a href="" target="_blank"><div class="grid-box"><img src="" alt=""></div></a>
        <a href="https://www.filliboya.com/" target="_blank"><div class="grid-box"><img src="../static/img/filli-boya.png" alt=""></div></a>
      </div>

    </div>
  </div>
</div>
{% endblock body %}
