{% load static %}

{% block css %}
      <link rel="stylesheet" href="{% static 'css/rover.css' %}">
{% endblock %}

<img src="{% static 'img/arkaplan.png' %}" id="bg">


{% if '/eng/' in request.path %}
    <h1 class="team-name"><b>ITU ROVER TEAM</b></h1>
{% else %}
    <h1 class="team-name"><b>İTÜ ROVER TAKIMI</b></h1>
{% endif %}

    <!---------CONTENT----------->
    <div class="rover-prop-container">
        <div class="rover-prop">
            <div id="rover17-prop">
                <h1 id="_17">'17</h1>
                <br>
            </div>
            <div id="rover18-prop">
                <h1 id="_18">'18</h1>
                <br>
            </div>
            <div id="rover19-prop">
                <h1 id="_19">'19</h1>
                <br>
            </div>
        </div>
    </div>
    <div class="images">
            <img src="{% static 'img/17_2.png' %}" class="rover" id="rover17">
            <img src="{% static 'img/18_2.png' %}" class="rover" id="rover18">
            <img src="{% static 'img/19_4.png' %}" class="rover" id="rover19">
    </div>

	<!----------LEFT-RIGHT ANIMATE BUTTONS---------->
	<div class="btn-container">
		<div id="left-btn" class="btn-lr">
            <img src="{% static "img/17_2.png" %}" alt="">
            <div><b>'17</b></div>
        </div>
		<div id="middle-btn" class="btn-lr">
            <img src="{% static "img/18_2.png" %}" alt="">
            <div><b>'18</b></div>
        </div>
		<div id="right-btn" class="btn-lr">
            <img src="{% static "img/19_4.png" %}" alt="">
            <div><b>'19</b></div>
        </div>
	</div>




{% block body %}
{% block javascript %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static "js/rover.js" %}"></script>
{% endblock %}

{% endblock %}

