{% load static %}

{% block css %}
      <link rel="stylesheet" href="{% static 'css/sponsors.css' %}">
{% endblock %}


<img src="{% static 'img/bg3.png' %}" style="width: 100%; height: 100%;">

{% if "/eng/" in request.path %}
    <div class="sponsorship-container">
        <div class="id-container" id="container">
        {% for sponsor_type in sponsor_types %}
            <div class="types-container">
                <h1 class="ship-name">{{ sponsor_type.eng_name }} Sponsors</h1>
                <div class="sponsors-container">
                    {% for sponsor in sponsor_type.sponsors.all %}
                        <div class="sponsor">
                            <img src="{{ sponsor.image.url }}" width="{{ sponsor.display_width }}px" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p>Sponsorluk türü yok.</p>
        {% endfor %}
        </div>
        </div>
{% else %}
    <div class="sponsorship-container">
        <div class="id-container" id="container">
        {% for sponsor_type in sponsor_types %}
            <div class="types-container">
                <h1 class="ship-name">{{ sponsor_type.name }} Sponsorlar</h1>
                <div class="sponsors-container">
                    {% for sponsor in sponsor_type.sponsors.all %}
                        <div class="sponsor">
                            <img src="{{ sponsor.image.url }}" width="{{ sponsor.display_width }}px" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p>Sponsorluk türü yok.</p>
        {% endfor %}
        </div>
        </div>
{% endif %}

<!--

{% block body %}

{% endblock %}
