{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block body %}
<div class="container">
  {% for type in types %}
  <div class="row">
    <div class="col-12">
      <h4 class="font-thick text-center">{{ type.name }}</h4>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center align-items-center">
        {% for sponsor in type.sponsors.all %}
        <div class="col-lg-4 col-md-6 col-12 text-center">
          <a class="font-default-color font-thick text-big" href="{{ sponsor.website }}" target="_blank"><img width="{{ sponsor.display_width }}px" src="{{ sponsor.image.url }}">{% if sponsor.is_name_on_display %}<p>{{ sponsor.name }}</p>{% endif %}</a>
        </div>
        {% empty %}
        <p class="text-center">Bu sponsorluk türünde henüz bir sponsor yok.</p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% empty %}
  <p class="text-center">Henüz herhangi bir sponsorluk türü yok.</p>
  {% endfor %}
</div>
{% endblock body %}
