{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/what_rover.css' %}">
{% endblock %}

<img src="{% static 'img/bg5.png' %}">
{% if "/eng/" in request.path %}
    <div class="info-container">
    <div class="entry-territory">
        <br>
        <h1>ROVER</h1>
        {% for entry in r_entries %}
            <div class="entries">
                <br>
                <hr style="border: 1px solid white">
                <br>
                <h1><b>{{ entry.eng_title }}</b></h1>
                <br>
                <p><b>{{ entry.eng_detail }}</b></p>
                <br>
                {% if entry.image %}<img src="{{ entry.image.url }}" alt="">{% endif %}
            </div>
            <div class="subentries">
                {% for subentry in entry.subentries.all %}
                    <br>
                    <hr>
                    <br>
                    <h1>{{ subentry.eng_title }}</h1>
                    <br>
                    <p>{{ subentry.eng_detail }}</p>
                    <br>
                    {% if subentry.image %}<img src="{{ subentry.image.url }}" alt="">{% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
    <div class="info-container">
    <div class="entry-territory">
        <br>
        <h1>ROVER</h1>
        {% for entry in r_entries %}
            <div class="entries">
                <br>
                <hr style="border: 1px solid white">
                <br>
                <h1><b>{{ entry.title }}</b></h1>
                <br>
                <p><b>{{ entry.detail }}</b></p>
                <br>
                {% if entry.image %}<img src="{{ entry.image.url }}" alt="">{% endif %}
            </div>
            <div class="subentries">
                {% for subentry in entry.subentries.all %}
                    <br>
                    <hr>
                    <br>
                    <h1>{{ subentry.title }}</h1>
                    <br>
                    <p>{{ subentry.detail }}</p>
                    <br>
                    {% if subentry.image %}<img src="{{ subentry.image.url }}" alt="">{% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% block body %}

{% endblock %}
